::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background: cadetblue;
  border: 4px solid transparent;
  border-radius: 12px;
}

.a {
  color: aliceblue;
  font-size: medium;
}

.elements {
  position: absolute;
}

.hs-logo {
  width: 4vw;
  height: 5vh;
}
.hs-logo-container {
  position: absolute;
  top: 3vh;
  left: 3vh;
  z-index: 11;
}
.hs-logo-container :hover {
  cursor: pointer;
}
