.App {
  min-height: 100vh;
  background-color: #13314d;
  height: "100%";
}

body {
  background-color: #13314d;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

::selection {
  color: white;
  background: cadetblue;
}
