.App {
  min-height: 100vh;
  background-color: #13314d;
  height: "100%";
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

::selection {
  color: white;
  background: cadetblue;
}

a:link {
  color: cadetblue;
}
a:visited {
  color: cadetblue;
}
a:hover {
  color: rgb(65, 108, 110);
}
a:active {
  color: cadetblue;
}
